<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.la.springboot.mapper.CityMapper">

    <!--public void insert(City city);-->
    <!--useGeneratedKeys：使用该功能可以将自增的主键保存到id中-->
    <!--<insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into city(`name`,`state`,`country`) values(#{name},#{state},#{country})
    </insert>-->
</mapper>